
.navbar {
    border: none;
    border-radius: 0;
    background-color: #1E90FF;
    margin: 0;
}
.navbar-nav > li > a:hover {
    background-color: #003366 !important;;
}

.navbar-nav > li > a:focus {
    background-color: #003366 !important;;
}

.navbar-nav > li > a:active{
    background-color: #003366 !important;;
}

.navbar-text {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.container-fluid{
    margin-top: 15px;
}

.nav-pills > li > a:hover{
    cursor: pointer;
}